{% extends 'directory/base.html' %}

{% block page-header %}About this app{% endblock %}

{% block content %}
  <div class="container">
    <div class="row">
      <div class="col-md-10 mx-auto">
        <ul class="fs-4">
          <li><span class="fw-bold">Description.</span>  This web application is a people directory that allows the user to
            save, retrieve, edit, delete, and search contacts.</li>
          <li><span class="fw-bold">Purpose.</span> This project is a <span class="fst-italic">breakable toy</span> whose main purpose is to serve as learning
            experience in web development and to expose some of my work to potential employers.
          </li>
          <li><span class="fw-bold">Technologies used.</span> Bootstrap, Django, Postgresql.</li>
          <!-- <li><span class="fw-bold">GitHub repo.</span> <a href="http://"></a></li> -->
          <li><span class="fw-bold">Author:</span> Miguel Romero V.</li>
        </ul>
      </div>
    </div>
  </div>
{% endblock %}
