{% extends 'directory/base.html' %}

{% block title %}Contact detail{% endblock title %}

{% block page-header %}Contact Detail{% endblock %}

{% block content %}

  <div class="container">
    <div class="row justify-content-center">
      <div class="col-12 col-md-10 col-lg-8 col-xl-7 border border-3 rounded-3 p-3 shadow">
        <div class="row p-2">
          <div class="col-12 col-sm-4 fw-bold">Name(s):</div>
          <div class="col-12 col-sm-8">{{ contact.name }}</div>
        </div>
        <div class="row p-2">
          <div class="col-12 col-sm-4 fw-bold">Last name(s):</div>
          <div class="col-12 col-sm-8">{{ contact.last_name }}</div>
        </div>
        <div class="row p-2">
          <div class="col-12 col-sm-4 fw-bold">Email:</div>
          <div class="col col-sm-8">{{contact.email}}</div>
        </div>
        <div class="row p-2">
          <div class="col-12 col-sm-4 fw-bold">Phone number:</div>
          <div class="col-12 col-sm-8">{{contact.phone_number}}</div>
        </div>
        <div class="row p-2">
          <div class="col-12 col-sm-4 fw-bold">Company:</div>
          <div class="col-12 col-sm-8">{{contact.company}}</div>
        </div>
        <div class="row justify-content-start p-2 mt-5">
          <div class="col-12 col-sm-4">
            <a class="btn btn-warning" href="{% url 'contact-update' contact.id %}" >Edit &nbsp;<i class="bi bi-pencil"></i></a>
          </div>
          <div class="col-12 col-sm-8">
            <button class="btn btn-danger" data-bs-toggle="modal" data-bs-target="#confirmDelete">Delete &nbsp;<i class="bi bi-trash3"></i></button>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="modal fade" tabindex="-1" id="confirmDelete">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title">Delete contact</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
          <form action="{% url 'contact-delete' contact.id %}" method="POST">
            {% csrf_token %}
            <div class="modal-body">
              <p>Are you sure you want to delete <strong>{{ contact.name }} {{ contact.last_name }}</strong>?</p>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
              <button class="btn btn-success" type="submit">Yes, Delete</button>
            </div>
          </form>
      </div>
    </div>
  </div>

{% endblock content %}




