

<div class="container">
  <div class="row justify-content-center">
    <form action="" method="POST" class="col-12 col-md-10 col-lg-8 border border-3 rounded-3 shadow p-3">
      {% csrf_token %}
      <div class="row p-2">
        <label for="{{ form.name.id_for_label }}" class="col-12 col-sm-4 col-md-3 col-form-label fw-bold text-sm-end pe-0">{{ form.name.label_tag }}</label>
        <div class="col-12 col-sm-8 col-md-9">
          {{ form.name }}
        </div>
      </div>
      <div class="row p-2">
        <label for="{{ form.last_name.id_for_label }}" class="col-12 col-sm-4 col-md-3 col-form-label fw-bold text-sm-end pe-0">{{ form.last_name.label_tag }}</label>
        <div class="col-12 col-sm-8 col-md-9">
          {{ form.last_name }}
        </div>
      </div>
      <div class="row p-2">
        <label for="{{ form.email.id_for_label }}" class="col-12 col-sm-4 col-md-3 col-form-label fw-bold text-sm-end pe-0">{{ form.email.label_tag }}</label>
        <div class="col-12 col-sm-8 col-md-9">
          {{ form.email }}
        </div>
      </div>
      <div class="row p-2">
        <label for="{{ form.phone_number.id_for_label }}" class="col-12 col-sm-4 col-md-3 col-form-label fw-bold text-sm-end pe-0">{{ form.phone_number.label_tag }}</label>
        <div class="col-12 col-sm-8 col-md-9">
          {{ form.phone_number }}
          <div class="form-text">Introduce 10 digits, please.</div>
        </div>
      </div>
      <div class="row p-2">
        <label for="{{ form.company.id_for_label }}" class="col-12 col-sm-4 col-md-3 col-form-label fw-bold text-sm-end pe-0">{{ form.company.label_tag }}</label>
        <div class="col-12 col-sm-8 col-md-9">
          {{ form.company }}
        </div>
      </div>
      <div class="row p-2 justify-content-end">
        <div class="col-auto">
          <button class="btn btn-primary btn-lg" type="submit">Save <i class="bi bi-save"></i></button>
        </div>
      </div>
    </form>
  </div>
</div>
